<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="general.html :: head"></div>
<body>
<div th:replace="general.html :: navigation"></div>

<div class="personalcontainer">
    <div class="container">

        <h2>Delete task</h2>

        <div th:if="${taskToDelete == null}">
            <p>Task does not exist! Cant delete task that doesnt exist!</p>
            <p><a class="btn btn-secondary" href="#" th:href="@{/tasks/new}"><i class="fas fa-thumbtack"></i> Add a new Task here!</a></p>
            <p><a class="btn btn-secondary text-left" href="#" th:href="@{/tasks}"><i class="fas fa-list-ul"></i> Return to Task overview here!</a></p>
        </div>

        <div th:if="${taskToDelete != null}">
            <p>U sure u want to delete the following task? </p>
            <p th:text="${taskToDelete.taskId} + ' with title ' + ${taskToDelete.title}"></p>

            <form method="post" action="/tasks/delete">
                <div class="row">
                    <div class="form-group col-xs-5 col-lg-4">
                        <input type="radio" id="yes" name="confirmation" value="yes">
                        <label for="yes">Yes</label><br>
                        <input type="radio" id="no" name="confirmation" value="no">
                        <label for="no">No</label><br>
                    </div>
                </div>

                <input type="hidden" th:value="${taskToDelete.taskId}" name="taskId"/>

                <input class="btn btn-secondary text-left btn-submit-custom" type="submit" value="Confirmation">
            </form>
        </div>
    </div>
</div>

<div th:replace="general.html :: footer"></div>
<div th:replace="general.html :: bootstraplinks"></div>
</body>
</html>