<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="general.html :: head"></div>
<body>
<div th:replace="general.html :: navigation"></div>

<div class="personalcontainer">
    <div class="container">

        <h2 th:text="#{deletetaskpage.h2title}"></h2>

        <div th:if="${taskToDelete == null}">
            <p th:text="#{deletetaskpage.taskdoesntexist}"></p>
            <p><a class="btn btn-secondary" href="#" th:href="@{/tasks/new}" th:text="#{deletetaskpage.addnewtask}"></a></p>
            <p><a class="btn btn-secondary text-left" href="#" th:href="@{/tasks}" th:text="#{deletetaskpage.taskoverview}"></a></p>
        </div>

        <div th:if="${taskToDelete != null}">
            <p th:text="#{deletetaskpage.confirmation}"></p>
            <p th:text="${taskToDelete.taskId} + ' ' + #{deletetaskpage.whattodelete} + ' ' + ${taskToDelete.title}"></p>

            <form Th:method="post" th:action="@{/tasks/delete}">
                <div class="row">
                    <div class="form-group col-xs-5 col-lg-4">
                        <input type="radio" id="yes" name="confirmation" value="yes" checked>
                        <label for="yes" th:text="#{deletetaskpage.yes}"></label><br>
                        <input type="radio" id="no" name="confirmation" value="no">
                        <label for="no" th:text="#{deletetaskpage.no}"></label><br>
                    </div>
                </div>

                <input type="hidden" th:value="${taskToDelete.taskId}" name="taskId"/>

                <input class="btn btn-secondary text-left btn-submit-custom" type="submit" th:value="#{deletetaskpage.submit}">
            </form>
        </div>
    </div>
</div>

<div th:replace="general.html :: footer"></div>
<div th:replace="general.html :: bootstraplinks"></div>
</body>
</html>