<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="general.html :: head"></div>
<body>
<div th:replace="general.html :: navigation"></div>

<div class="personalcontainer">
    <div class="container">

        <h2 th:text="#{deletealltaskpage.h2title}"></h2>

        <p th:text="#{deletealltaskpage.sure}"></p>
        <p th:text="#{deletealltaskpage.amountoftasks} + ' ' + ${amounttasktodelete}"></p>

        <form method="post" action="/tasks/deleteallconfirmed">
            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                    <input type="radio" id="yes" name="confirmation" value="yes" checked>
                    <label for="yes" th:text="#{deletealltaskpage.yes}"></label><br>
                    <input type="radio" id="no" name="confirmation" value="no">
                    <label for="no" th:text="#{deletealltaskpage.no}"></label><br>
                </div>
            </div>

            <input class="btn btn-secondary text-left btn-submit-custom" type="submit" value="Confirmation">
        </form>

    </div>
</div>

<div th:replace="general.html :: footer"></div>
<div th:replace="general.html :: bootstraplinks"></div>
</body>
</html>