<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="general.html :: head"></div>
<body>
<div th:replace="general.html :: navigation"></div>

<div class="personalcontainer">
<div class="container">

    <h2>Edit Task Form</h2>

    <div th:if="${taskDTO == null}">
        <p>Task does not exist! You can't edit a task that doesnt exist! </p>
        <p><a class="btn btn-secondary btn-submit-custom2" href="#" th:href="@{/tasks/new}"><i class="fas fa-thumbtack"></i> Add a new Task here!</a></p>
        <p><a class="btn btn-secondary text-left btn-submit-custom2" href="#" th:href="@{/tasks}"><i class="fas fa-list-ul"></i> Return to Task overview here!</a></p>
    </div>

    <div th:if="${taskDTO != null}">
        <form method="post" action="/tasks/edit" th:object="${taskDTO}">
            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                    <label for="taskId" class="formtitle">Task ID</label>
                    <input class="form-control" id="taskId" type="text" th:field="*{taskId}" readonly>
                    <div class="danger">
                        <p th:errors="*{taskId}"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                    <label for="title" class="formtitle">Title</label>
                    <input class="form-control" id="title" type="text" th:field="*{title}">
                    <div class="danger">
                        <p th:errors="*{title}"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                    <label for="description" class="formtitle">Description</label>
                    <textarea class="form-control" id="description" rows="5" th:field="*{description}"></textarea>
                    <div class="danger">
                        <p th:errors="*{description}"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                    <label for="dateAndTimeOfTask" class="formtitle">Date and time of task</label>
                    <input class="form-control" id="dateAndTimeOfTask" type="datetime-local" th:field="*{dateAndTimeOfTask}">
                    <div class="danger">
                        <p th:errors="*{dateAndTimeOfTask}"></p>
                    </div>
                </div>
            </div>

            <input class="btn btn-secondary text-left btn-submit-custom" type="submit" value="Edit Task">
        </form>

        <p><a class="btn btn-secondary text-left btn-submit-custom2" th:href="@{/tasks/{taskId}(taskId=${taskDTO.taskId})}"><i class="fas fa-list-ul"></i> Details master task</a></p>
    </div>

</div>
</div>

<div th:replace="general.html :: footer"></div>
<div th:replace="general.html :: bootstraplinks"></div>
</body>
</html>