<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="general.html :: head"></div>
<body>
<div th:replace="general.html :: navigation"></div>

<div class="personalcontainer">
<div class="container">

    <h2 th:text="#{edittaskform.h2}"></h2>

    <div th:if="${taskDTO == null}">
        <p th:text="#{edittaskform.taskdoesntexist}"></p>
        <p><a class="btn btn-secondary btn-submit-custom2" href="#" th:href="@{/tasks/new}" th:text="#{edittaskform.addnewtask}"></a></p>
        <p><a class="btn btn-secondary text-left btn-submit-custom2" href="#" th:href="@{/tasks}" th:text="#{edittaskform.returntaskoverview}"></a></p>
    </div>

    <div th:if="${taskDTO != null}">
        <form th:method="post" th:action="@{/tasks/edit}" th:object="${taskDTO}">
            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                    <label for="taskId" class="formtitle" th:text="#{edittaskform.form.id}"></label>
                    <input class="form-control" id="taskId" type="text" th:field="*{taskId}" readonly>
                    <div class="danger">
                        <p th:errors="*{taskId}"></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                    <label for="title" class="formtitle" th:text="#{edittaskform.form.title}"></label>
                    <input class="form-control" id="title" type="text" th:field="*{title}">
                    <div class="danger">
                        <ul class="listpadding">
                            <li th:each="erroredittasktitle : ${#fields.errors('title')}" th:text="${erroredittasktitle}" />
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                    <label for="description" class="formtitle" th:text="#{edittaskform.form.description}"></label>
                    <textarea class="form-control" id="description" rows="5" th:field="*{description}"></textarea>
                    <div class="danger">
                        <ul class="listpadding">
                            <li th:each="erroredittaskdescription : ${#fields.errors('description')}" th:text="${erroredittaskdescription}" />
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                    <label for="dateAndTimeOfTask" class="formtitle" th:text="#{edittaskform.form.date}"></label>
                    <input class="form-control" id="dateAndTimeOfTask" type="datetime-local" th:field="*{dateAndTimeOfTask}">
                    <div class="danger">
                        <ul class="listpadding">
                            <li th:each="erroredittaskdateAndTimeOfTask : ${#fields.errors('dateAndTimeOfTask')}" th:text="${erroredittaskdateAndTimeOfTask}" />
                        </ul>
                    </div>
                </div>
            </div>

            <input class="btn btn-secondary text-left btn-submit-custom" type="submit" th:value="#{edittaskform.submit}">
        </form>

        <p><a class="btn btn-secondary text-left btn-submit-custom2" th:href="@{/tasks/{taskId}(taskId=${taskDTO.taskId})}" th:text="#{edittaskform.details}"></a></p>
    </div>

</div>
</div>

<div th:replace="general.html :: footer"></div>
<div th:replace="general.html :: bootstraplinks"></div>
</body>
</html>