<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{general.title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/54a05d17d5.js" crossorigin="anonymous"></script>
</head>
<body>

    <header th:fragment="navigation">
        <div id="mynavbar">
            <nav class="navbar navbar-expand-lg ">
                <div class="container">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link customitemnavbar" href="#" th:href="@{/}" th:text="#{general.nav.home}"></a></li>
                </ul>
                    <div classs="text-right">
                        <ul class="navbar-nav ml-auto flex-nowrap">

                            <li class="nav-item"><a class="nav-link customitemnavbar" href="#" th:href="@{/tasks}" th:text="#{general.nav.taskoverview}"></a></li>
                            <li class="nav-item"><a class="nav-link customitemnavbar" href="#" th:href="@{/tasks/new}" th:text="#{general.nav.taskform}"></a></li>

                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link customitemnavbar dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe"></i> <span th:text="#{general.nav.lang.selection}"></span></a><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link customitemnavbardropdown" href="#" th:href="@{''(lang=en)}">ENGLISH</a></li>
                                    <li><a class="nav-link customitemnavbardropdown" href="#" th:href="@{''(lang=nl)}">NEDERLANDS</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <footer th:fragment="footer">
        <div class="text-center copyrightfooter margintopfooter">
            <p th:text="#{general.footer.name}"></p>
        </div>

        <div class="container d-flex justify-content-center linksfooter">
            <div class="container text-center">
                <a class="footerlink" href="https://www.linkedin.com/in/kevin-de-vijlder-46b58b131/"><i class="fab fa-linkedin"></i></a>
                <a class="footerlink" href="https://github.com/KevinDeVijlder"><i class="fab fa-github-square"></i></a>
                <a class="footerlink" href="kevin_de_vijlder@hotmail.com"><i class="fas fa-envelope-square"></i></a>
            </div>
        </div>

        <div class="text-center py-3 copyrightfooter">
            <p th:text="#{general.footer.copyright}"></p>
        </div>
    </footer>

    <div th:fragment="bootstraplinks">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>

</body>

</html>