<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="general.html :: head"></div>
<body>
    <div th:replace="general.html :: navigation"></div>
    <div class="personalcontainer">
    <div class="container">

    <h1 th:text="#{index.h1title}"></h1>

    <p th:text="#{index.paragraph}"></p>

        <th:block th:each="r, iter:${#authentication.getName()}">
            <span th:text="${r}"></span>
            <th:block th:if="${!iter.last}">, </th:block>
        </th:block>

        <th:block th:each="r, iter:${#authentication.getAuthorities()}">
            <span th:text="${r}"></span>
            <th:block th:if="${!iter.last}">, </th:block>
        </th:block>

    </div>
    </div>
    <div th:replace="general.html :: footer"></div>
    <div th:replace="general.html :: bootstraplinks"></div>
</body>
</html>