<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="general.html :: head"></div>
<body>
<div th:replace="general.html :: navigation"></div>
<div class="personalcontainer">
    <div class="container">

        <h1 class="marginbottomloginform" th:text="#{signupform.h1title}"></h1>

        <div th:if="${globalerroruseralreadyexists == true}">
            <p class=danger th:text="#{signupform.username.taken}"></p>
        </div>

        <form th:method="post" th:action="@{/signup}" th:object="${user}">

            <div class="form-group w-25">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                    </div>
                    <input class="form-control" type="text" id="username" name="username" th:field="*{username}" th:attr="placeholder = #{signupform.username}">
                </div>
                <div class="danger">
                    <ul class="listpadding">
                        <li th:each="signupusername : ${#fields.errors('username')}" th:text="${signupusername}" />
                    </ul>
                </div>
            </div>

            <div class="form-group w-25">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input class="form-control" type="text" id="fullname" name="fullname" th:field="*{fullname}" th:attr="placeholder = #{signupform.fullname}">
                </div>
                <div class="danger">
                    <ul class="listpadding">
                        <li th:each="signupfullname : ${#fields.errors('fullname')}" th:text="${signupfullname}" />
                    </ul>
                </div>
            </div>

            <div class="form-group w-25">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input class="form-control" type="text" id="email" name="email" th:field="*{email}" th:attr="placeholder = #{signupform.email}">
                </div>
                <div class="danger">
                    <ul class="listpadding">
                        <li th:each="signupemail : ${#fields.errors('email')}" th:text="${signupemail}" />
                    </ul>
                </div>
            </div>

            <div class="form-group w-25">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    <input class="form-control" type="password" id="password" name="password" th:attr="placeholder = #{signupform.password}">
                </div>
                <div class="danger">
                    <ul class="listpadding">
                        <li th:each="signuppassword : ${#fields.errors('password')}" th:text="${signuppassword}" />
                    </ul>
                </div>
            </div>

            <div class="form-group w-25">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    </div>
                    <input class="form-control" type="password" id="passwordconfirmed" name="passwordconfirmed" th:attr="placeholder = #{signupform.passwordconfirmed}">
                </div>
                <div class="danger">
                    <ul class="listpadding">
                        <li th:each="signuppasswordconfirmed : ${#fields.errors('passwordconfirmed')}" th:text="${signuppasswordconfirmed}" />
                    </ul>
                </div>
            </div>

            <div class="form-group w-25">
                <input class="btn btn-secondary btn-submit-custom btn-block" type="submit" th:value="#{signupform.submit}">
            </div>

        </form>

    </div>
</div>
<div th:replace="general.html :: footer"></div>
<div th:replace="general.html :: bootstraplinks"></div>
</body>
</html>