<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="general.html :: head"></div>
<body>
<div th:replace="general.html :: navigation"></div>
    <div class="personalcontainer">
    <div class="container">

        <h1 th:text="#{subtaskform.h1title}"></h1>

        <div th:if="${masterTask == null}">
            <p th:text="#{subtaskform.doesntexist}"></p>
            <p><a class="btn btn-secondary btn-submit-custom2" href="#" th:href="@{/tasks/new}" th:text="#{subtaskform.addnew}"></a></p>
            <p><a class="btn btn-secondary btn-submit-custom2 text-left" href="#" th:href="@{/tasks}" th:text="#{subtaskform.return}"></a></p>
        </div>

        <div th:if="${masterTask != null}">

            <h2 th:text="#{subtaskform.h2title}"></h2>
            <div class="postitlayout">
                <p><span class="titletaskbold titlegreen" th:text="#{subtaskdetails.info.title} + ' '"></span><span th:text="${masterTask.title}"></span></p>
                <p><span class="titletaskbold" th:text="#{subtaskdetails.info.description} + ' '"></span><span th:text="${masterTask.description}"></span></p>
                <p><span class="titletaskbold" th:text="#{subtaskdetails.info.date} + ' '"></span><span th:text="${#temporals.format(masterTask.dateAndTimeOfTask, 'd MMMM yyyy @ HH:mm')}"></span></p>
            </div>

            <h2 th:text="#{subtaskform.form.h2title}"></h2>
            <form method="post" action="/tasks/sub/createTask" th:object="${subTaskDTO}">
                <div class="row">
                    <div class="form-group col-xs-5 col-lg-4">
                        <label for="title" class="formtitle" th:text="#{subtaskform.form.title}"></label>
                        <input class="form-control" id="title" type="text" th:field="*{title}">
                        <div class="danger">
                            <ul class="listpadding">
                                <li th:each="errorsubtasktitle : ${#fields.errors('title')}" th:text="${errorsubtasktitle}" />
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-5 col-lg-4">
                        <label for="description" class="formtitle" th:text="#{subtaskform.form.description}"></label>
                        <textarea class="form-control" id="description" rows="5" th:field="*{description}"></textarea>
                        <div class="danger">
                            <ul class="listpadding">
                                <li th:each="errorsubtaskdescription : ${#fields.errors('description')}" th:text="${errorsubtaskdescription}" />
                            </ul>
                        </div>
                    </div>
                </div>

                <input type="hidden" th:value="${masterTask.taskId}" name="taskId"/>
                <input class="btn btn-secondary text-left btn-submit-custom" type="submit" th:value="#{subtask.form.submit}">
            </form>

            <p><a class="btn btn-secondary text-left btn-submit-custom2" href="#" th:href="@{/tasks/{taskId}(taskId=${masterTask.taskId})}" th:text="#{subtaskform.master}"></a></p>

        </div>
    </div>
    </div>

<div th:replace="general.html :: footer"></div>
<div th:replace="general.html :: bootstraplinks"></div>
</body>
</html>