<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="general.html :: head"></div>
<body>
    <div th:replace="general.html :: navigation"></div>
    <div class="container">

    <h1>Tasks</h1>

    <div th:if="${tasks.empty}">
        <p>No tasks left to do</p>
    </div>

    <div th:if="${!tasks.empty}">
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th scope="col">Task Id</th>
                    <th scope="col">Task title</th>
                    <th scope="col">Task Date & Time</th>
                    <th scope="col">Details</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Subtask</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.taskId}"></td>
                    <td th:text="${task.title}"></td>
                    <td th:text="${task.dateAndTimeOfTask}"></td>
                    <td><a class="linkclass" th:href="@{/tasks/{taskId}(taskId=${task.taskId})}"><i class="fas fa-list-ul"></i></a></td>
                    <td><a class="linkclass" th:href="@{/tasks/edit/{taskId}(taskId=${task.taskId})}"><i class="far fa-edit"></i></a></td>
                    <td><a class="linkclass" th:href="@{/tasks/{taskId}/sub/create(taskId=${task.taskId})}"><i class="fas fa-plus-circle"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <p><a class="btn btn-secondary" href="#" th:href="@{/tasks/new}">Add a new Task here!</a></p>

    </div>
    <div th:replace="general.html :: footer"></div>
    <div th:replace="general.html :: bootstraplinks"></div>
</body>
</html>