<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="general.html :: head"></div>
<body>
<div th:replace="general.html :: navigation"></div>

<div class="personalcontainer">
<div class="container">

    <h2 th:text="#{taskform.h2}"></h2>

    <form method="post" action="/tasks/createTask" th:object="${taskDTO}">
        <div class="row">
            <div class="form-group col-xs-5 col-lg-4">
                <label for="title" class="formtitle" th:text="#{taskform.form.title}"></label>
                <input class="form-control" id="title" type="text" th:field="*{title}">
                <div class="danger">
                    <p th:errors="*{title}"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-5 col-lg-4">
                <label for="description" class="formtitle" th:text="#{taskform.form.description}"></label>
                <textarea class="form-control" id="description" rows="5" th:field="*{description}"></textarea>
                <div class="danger">
                    <p th:errors="*{description}"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-5 col-lg-4">
                <label for="dateAndTimeOfTask" class="formtitle" th:text="#{taskform.form.dateandtime}"></label>
                <input class="form-control" id="dateAndTimeOfTask" type="datetime-local" th:field="*{dateAndTimeOfTask}">
                <div class="danger">
                    <p th:errors="*{dateAndTimeOfTask}"></p>
                </div>
            </div>
        </div>

        <input class="btn btn-secondary text-left btn-submit-custom" type="submit" value="submit">
    </form>

</div>
</div>

<div th:replace="general.html :: footer"></div>
<div th:replace="general.html :: bootstraplinks"></div>
</body>
</html>