<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="general.html :: head"></div>
<body>
    <div th:replace="general.html :: navigation"></div>
    <div class="personalcontainer">
    <div class="container">

    <h1 th:text="#{taskoverview.h1}"></h1>

    <div th:if="${tasks.isEmpty() == true}">
        <p th:text="#{taskoverview.notasks}"></p>
    </div>

    <div th:if="${!tasks.isEmpty()}">
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th scope="col" th:text="#{taskoverview.table.col.title}"></th>
                    <th scope="col" th:text="#{taskoverview.table.col.datetime}"></th>
                    <th scope="col" th:text="#{taskoverview.table.col.details}"></th>
                    <th scope="col" th:text="#{taskoverview.table.col.edit}"></th>
                    <th scope="col" th:text="#{taskoverview.table.col.subtask}"></th>
                    <th scope="col" th:text="#{taskoverview.table.col.delete}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.title}"></td>
                    <td th:text="${#temporals.format(task.dateAndTimeOfTask, 'd MMMM yyyy @ HH:mm')}"></td>
                    <td><a class="linkclass" th:href="@{/tasks/details/{taskId}(taskId=${task.taskId})}"><i class="fas fa-list-ul"></i></a></td>
                    <td><a class="linkclass" th:href="@{/tasks/edit/{taskId}(taskId=${task.taskId})}"><i class="far fa-edit"></i></a></td>
                    <td><a class="linkclass" th:href="@{/tasks/{taskId}/sub/create(taskId=${task.taskId})}"><i class="fas fa-plus-circle"></i></a></td>
                    <td><a class="linkclass" th:href="@{/tasks/delete/{taskId}(taskId=${task.taskId})}"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            </tbody>
        </table>

        <p><a class="btn btn-secondary text-left btn-submit-custom" href="#" th:href="@{/tasks/deleteall}" th:text="#{taskoverview.button.removeall}"></a></p>
    </div>

    <p><a class="btn btn-secondary btn-submit-custom2" href="#" th:href="@{/tasks/new}" th:text="#{taskoverview.button.addnew}"></a></p>

    </div>
    </div>
    <div th:replace="general.html :: footer"></div>
    <div th:replace="general.html :: bootstraplinks"></div>
</body>
</html>